n8n_fujo.json
{
    "name": "Agenda IA - Flujo Consolidado",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "agenda-ia",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "2d8f9c0e-1a2b-4c3d-5e6f-7a8b9c0d1e2f",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "sessionId",
                            "value": "={{ $json.body.sessionId }}"
                        },
                        {
                            "name": "token",
                            "value": "={{ $json.body.token }}"
                        },
                        {
                            "name": "sede",
                            "value": "={{ $json.body.sede || 'Sede no especificada' }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.body.message }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "3e9a0d1f-2b3c-4d5e-6f7a-8b9c0d1e2f3a",
            "name": "Preparar Datos",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                180,
                0
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Eres el Asistente de Agendamiento Inteligente de \"Agenda IA\". Tu función es procesar las solicitudes de citas que el administrador recibe de los clientes.\n\n### ⚙️ CONFIGURACIÓN DE CONTEXTO\n- **Sede actual**: {{ $('Preparar Datos').first().json.sede }}\n- **Hoy es**: {{ $now.setZone('America/Bogota').toLocaleString() }}\n\n### 🚨 REGLAS DE FORMATO TÉCNICO\nAl llamar a cualquier herramienta, transforma los datos a este formato:\n- **fecha**: Siempre `YYYY-MM-DD`.\n- **hora_inicio**: Siempre `HH:MM` (Formato 24h).\n- **servicio**: Solo permite: `alisado`, `repolarizacion`, `garantia`.\n\n### 🔍 PASO 1: VALIDACIÓN\nAntes de confirmar, DEBES llamar a **Consultar Disponibilidad**.\n\n### 💰 PASO 2: GESTIÓN DE ABONOS\nPregunta siempre por abonos. Al registrar, usa el nombre del método de pago que el cliente mencione (ej: Efectivo, Nequi, Daviplata, Transferencia) en el campo `metodo_pago`.\n\n### 📝 PASO 3: REGISTRO FINAL\nSolo tras confirmación, usa **Crear Cita Final** enviando los campos individuales: nombre, apellido, cedula, telefono, email, servicio, fecha, hora_inicio, sede, especialista_id, notas, monto_abono, metodo_pago, referencia_abono.",
                "options": {}
            },
            "id": "4f0b1e2a-3c4d-5e6f-7a8b-9c0d1e2f3a4b",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                380,
                0
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-1.5-flash",
                "options": {}
            },
            "id": "5a1c2f3b-4d5e-6f7a-8b9c-0d1e2f3a4b5c",
            "name": "Google Gemini",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                380,
                220
            ]
        },
        {
            "parameters": {
                "sessionKey": "={{ $('Preparar Datos').first().json.sessionId }}"
            },
            "id": "6b2d3a4c-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
            "name": "Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.2,
            "position": [
                480,
                220
            ]
        },
        {
            "parameters": {
                "name": "consultar_disponibilidad_nombre",
                "description": "Valida si un especialista puede atender. Requiere: nombre_especialista, servicio, fecha, hora_inicio.",
                "method": "POST",
                "url": "http://TU_API_URL/api/especialistas/consultar-disponibilidad-nombre",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ 'Bearer ' + $('Preparar Datos').first().json.token }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"nombre_especialista\": \"{{ $parameter.nombre_especialista }}\",\n  \"servicio\": \"{{ $parameter.servicio }}\",\n  \"fecha\": \"{{ $parameter.fecha }}\",\n  \"hora_inicio\": \"{{ $parameter.hora_inicio }}\"\n}",
                "options": {}
            },
            "id": "7c3e4b5d-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
            "name": "Tool: Consultar Disponibilidad",
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 1,
            "position": [
                620,
                220
            ]
        },
        {
            "parameters": {
                "name": "crear_cita_final",
                "description": "Registra la cita en el sistema. Requiere 3 objetos: 'cliente' (nombre, apellido, cedula, telefono), 'cita' (servicio, fecha, hora_inicio, sede, especialista_id) y 'abono' (opcional: monto, metodo_pago_id, referencia).",
                "method": "POST",
                "url": "http://TU_API_URL/api/citas/agendar-externo",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ 'Bearer ' + $('Preparar Datos').first().json.token }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "fields",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "nombre",
                            "value": "={{ $parameter.nombre }}"
                        },
                        {
                            "name": "apellido",
                            "value": "={{ $parameter.apellido }}"
                        },
                        {
                            "name": "cedula",
                            "value": "={{ $parameter.cedula }}"
                        },
                        {
                            "name": "telefono",
                            "value": "={{ $parameter.telefono }}"
                        },
                        {
                            "name": "email",
                            "value": "={{ $parameter.email }}"
                        },
                        {
                            "name": "servicio",
                            "value": "={{ $parameter.servicio }}"
                        },
                        {
                            "name": "fecha",
                            "value": "={{ $parameter.fecha }}"
                        },
                        {
                            "name": "hora_inicio",
                            "value": "={{ $parameter.hora_inicio }}"
                        },
                        {
                            "name": "sede",
                            "value": "={{ $parameter.sede }}"
                        },
                        {
                            "name": "especialista_id",
                            "value": "={{ $parameter.especialista_id }}"
                        },
                        {
                            "name": "notas",
                            "value": "={{ $parameter.notas }}"
                        },
                        {
                            "name": "monto_abono",
                            "value": "={{ $parameter.monto_abono }}"
                        },
                        {
                            "name": "metodo_pago_id",
                            "value": "={{ $parameter.metodo_pago_id }}"
                        },
                        {
                            "name": "metodo_pago",
                            "value": "={{ $parameter.metodo_pago }}"
                        },
                        {
                            "name": "referencia_abono",
                            "value": "={{ $parameter.referencia_abono }}"
                        },
                        {
                            "name": "concepto_abono",
                            "value": "={{ $parameter.concepto_abono }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "8d4f5c6e-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
            "name": "Tool: Crear Cita",
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 1,
            "position": [
                780,
                220
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "9e5a6d7f-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                800,
                0
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Preparar Datos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Datos": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Consultar Disponibilidad": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Crear Cita": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}