n8n/Agenda IA - Flujo Consolidado.json
{
  "name": "Agenda IA - Flujo Consolidado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agenda-ia",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        -32
      ],
      "id": "acdd2d55-81b6-408c-9ba3-d622d1cb0a48",
      "name": "Webhook",
      "webhookId": "7da3bda4-cc2e-400b-8390-6c8c75d2b7ca"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres el Asistente de Agendamiento Inteligente de \"Agenda IA\". Tu función es procesar las solicitudes de citas que el administrador copia de la comunicación con los clientes para registrarlas en el sistema.\n\n### CONFIGURACIÓN DE CONTEXTO\n- **Sede actual**: {{ $node[\"Webhook\"].json[\"body\"][\"sede\"] || 'Sede no especificada' }}\n\ndatos: {{ $node[\"Webhook\"].json[\"body\"][\"message\"] || 'Sede no especificada' }}\nMessage\nprocesar los datos y extarer la informacion que envia el cliente\n### 🚨 REGLAS DE FORMATO TÉCNICO (CRÍTICO)\nAl usar cualquier herramienta, DEBES convertir los datos del usuario a este formato exacto:\n- **fecha**: Siempre `YYYY-MM-DD`. (Si el usuario dice \"mañana\", calcula la fecha basándote en la fecha actual proporcionada abajo: {{ $now }}).\n- **hora_inicio**: Siempre `HH:MM` en formato de 24 horas. (Ej: \"3 de la tarde\" es `15:00`, \"9 am\" es `09:00`).\n- **servicio**: Debe ser exactamente uno de estos tres: `alisado`, `repolarizacion`, `garantia`.\n### CONTEXTO TEMPORAL\n- **Hoy es**: {{ $now.setZone('America/Bogota').toLocaleString() }}\n\n\n### 1. SERVICIOS PERMITIDOS\nSolo agendar: **alisado**, **repolarizacion**, **garantia**.\n\n### 2. DATOS OBLIGATORIOS\n- Cliente: Nombre, Cédula, Teléfono.\n- Cita: Servicio, Fecha, Hora, Sede.\n- Especialista: Nombre.\n\n### 3. LÓGICA DE VALIDACIÓN (Obligatoria)\nAntes de confirmar, DEBES usar la herramienta Consultar Disponibilidad.\n\nenviar json {\n  \"fecha\": \"YYYY-MM-DD\", nota Siempre `YYYY-MM-DD`. (Si el usuario dice \"mañana\", calcula la fecha\n  \"hora_inicio\": \"HH:MM\"\n}\nrespuesta de la herramienta:\nlista de especialistas disponibles\n\n\n\n### 4. GESTIÓN DE ABONOS\nPregunta siempre por abonos. Al registrar, usa el nombre del método de pago que el cliente mencione (ej: Efectivo, Nequi, Daviplata, Transferencia) en el campo `metodo_pago`.\n\n### 5. agendamiento de cita \nSolo tras la confirmación total del administrador, usa la herramienta **Crear_Cita** enviando estos parámetros individuales en ese orden:\n- `nombre`, `apellido`, `cedula`, `telefono`, `email`\n- fecha`hora_inicio`, `sede`, `especialista_id`, `notas`\n- `monto_abono`, `metodo_pago_id`, `referencia_abono`, `concepto_abono`",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        336,
        -32
      ],
      "id": "d4db6e1c-3d9a-485d-87f6-2c0fa86f060c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        736,
        -32
      ],
      "id": "874ab367-91b5-46d0-966d-62e41406e9ab",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').first().json.sessionID }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        224
      ],
      "id": "896bdfd7-6437-4c83-8a20-685ac317d4f7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fa13af5-7704-4c5a-a403-160adfa54ceb",
              "name": "sessionID",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "0eb4d1a3-6b11-424e-aa7e-1ca5a318851e",
              "name": "token",
              "value": "={{ $json.body.token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -32
      ],
      "id": "03117275-6ba5-4657-957e-b0be3949c6f7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "toolDescription": "Registra la cita en el sistema. ",
        "method": "POST",
        "url": "https://agendaia-production.up.railway.app/api/citas/agendar-externo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Edit Fields').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nombre",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "apellido",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "cedula",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "telefono",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"
            },
            {
              "name": "email",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"
            },
            {
              "name": "servicio",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', ``, 'string') }}"
            },
            {
              "name": "fecha",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', ``, 'string') }}"
            },
            {
              "name": "hora_inicio",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', ``, 'string') }}"
            },
            {
              "name": "sede",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters9_Value', ``, 'string') }}"
            },
            {
              "name": "especialista_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters10_Value', ``, 'string') }}"
            },
            {
              "name": "notas",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters11_Value', ``, 'string') }}"
            },
            {
              "name": "metodo_pago_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters12_Value', ``, 'string') }}"
            },
            {
              "name": "referencia_abono",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters13_Value', ``, 'string') }}"
            },
            {
              "name": "concepto_abono",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters14_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.1,
      "position": [
        592,
        208
      ],
      "id": "d7837b25-0715-401a-b4ed-3d3ac9e57d4e",
      "name": "Crear_Cita"
    },
    {
      "parameters": {
        "toolDescription": "Valida si un especialista puede atender. REGLAS DE FORMATO: fecha: YYYY-MM-DD, hora_inicio: HH:MM (formato 24h). Ejemplo: 2024-02-15, 14:00.",
        "url": "https://agendaia-production.up.railway.app/api/especialistas/libres-en-horario?fecha=2024-04-01&hora=15:00",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Edit Fields').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.1,
      "position": [
        400,
        208
      ],
      "id": "442923d5-795f-4b10-b943-7758fd4f2f0d",
      "name": "Consultar Disponibilidad"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        208
      ],
      "id": "5bea36f3-7e2d-4f01-ad6c-d910027cd520",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "y7qmoFO6eSWGsnbC",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear_Cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ab4d15a9-10d0-445a-977e-c77566713bce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d3dca8d6aa02f6d8b93cec87b44e118adc566c8aef43c67bbf89a4968e8773f"
  },
  "id": "ffXwGlcO7HQB8sVGTo5QV",
  "tags": []
}